<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<div id="chocolate-buyout" class="mw7 center cf">
  <h2>Chocolate Fundraiser Buy Out</h2>
  <h3>Too busy to sell chocolate bars this year?</h3>
  <br>
  <p>With a donation of $60 or more:
    <ul>
      <li>Your student will be invited to the Island View Movie Night</li>
      <li>Your donation will be counted for participation in their classroom to help win a game of kickball with Mr. Hanrahan.</li>
    </ul>
  </p>
  <p>Please enter your Full Name, Email Address and Donation amount in the form below to make a donation. Please note that this site is secure and we do not store any of your credit card information.</p>

  <form name="pta-donation" id="pta-donation" class="pa2 w-30" action="https://wt-178473a4ca36b28c0d024bfdae0bd5b3-0.sandbox.auth0-extend.com/ivepta-stripe-payment/payment" method="POST">
    <div class="w-100 pv2">
      <label for="donorname">Name</label>
      <input id="donorname" type="text" placeholder="Enter Your Full Name" required="" autocomplete="name">
    </div>
    <div class="w-100 pv2">
      <label for="donoremail">Email</label>
      <input id="donoremail" type="email" placeholder="Primary Email Address" required="" autocomplete="email">
    </div>
    <div class="w-100 pv2">
        <label for="dollarAmount">Amount</label>
        <input id="dollarAmount" type="text" placeholder="$ to Donate" required="">
    </div>
    <div class="w-100 pv2">
        <label for="creditTo">Credit this Donation to:</label>
        <input id="creditTo" type="text" placeholder="Student & Teacher Name" required="">
    </div>
    
    <input type="hidden" name="stripeToken" id="stripeToken" value="">
    <input type="hidden" name="amount" id="amount" value="">
    <input type="hidden" name="description" id="description" value="">

    <button id="donateButton" class="f6 link glow br3 ph3 pv2 mb2 dib gold bg-primary">Donate to the PTA</button>
    <div id="error_explanation"></div>
  </form>
  <p>The Island View PTA is a 501(c)(3), Section 509(a)(2) Tax-Exempt Public Charity (EIN 91-1325723) and our official name with the IRS is Fidalgo-Island View PTA Skagit County.  Your gift is tax deductible to the extent allowed by law.</p>
</div>

<script>
var handler = StripeCheckout.configure({
  key: 'pk_live_UggfU7ZSje2PMeJJLoxOllwv',
  name: 'IVE PTA Donation',
  zipCode: true,
  allowRememberMe: false,
  panelLabel: 'Donate',
  description: 'Chocolate Fundraiser, Buy Out Donation.',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    var donorname = $('input#donorname').val();
    var credit = $('input#creditTo').val();
    var descriptionstring = "Chocolate Buy Out from " + donorname + " for " + credit + ".";
    $('input#description').val(descriptionstring);
    $('#pta-donation').submit();
  }
});

$('#donateButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');
  var email = $('input#donoremail').val();
  var name = $('input#donorname').val();
  var amount = $('input#dollarAmount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '');
  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html("<p class='w-100 ba br2 center pa3 ma2 red bg-washed-red'>Please enter a whole dollar amount in USD ($).</p>");
  }
  else if (amount < 3.00) {
    $('#error_explanation').html("<p class='w-100 ba br2 center pa3 ma2 red bg-washed-red'>Donation amount must be at least $3.</p>");
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    amount = Math.round(amount);
    $('input#amount').val(amount);
    handler.open({
      amount: amount,
      email: email,
      name: name
    });
  }
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
  handler.close();
});

</script>