<form id="gform" method="POST" action="https://script.google.com/a/islandviewpta.org/macros/s/AKfycbx-cQ4tpUCnQ4tCx4g9UW3OugFXxeqSx3Fco7hPqQ/exec">
  <p>Island View kids <strong>LOVE</strong> to sell chocolate bars, and the fall soccer games and Oyster Run are prime selling times! Let’s kick off our school year with a spectacular fall fundraiser!</p>
  <p>It's so easy – almost everyone says “Yes!” to a $1 chocolate bar!</p>

  <h3>How does it work?</h3>
  <p>Parents/Guardians must fill out and submit this form to Island View PTA by September 17, 2018. Chocolate boxes will go home with students on Thursday, September 20. Sell as many candy bars as you can by Friday, October 7!</p>
  
  <h3>Chocolate Sales Agreement between the parent and Island View PTA</h3>
  <p>Parents/Students will be held responsible for the retail value of any Lost, Damaged, Stolen Chocolate or Money.<br><br>
    Therefore:</p>
  <ul>
    <li>Do not leave money/chocolate in desks, cubbies, under chairs, at home where little brothers/sisters/pets can get into it, or anywhere unsupervised.</li>
      <li>Do not eat any chocolate unless it is paid for first.</li>
      <li>Do not give chocolate to ANYONE unless they pay for it FIRST, including family and friends.</li>
      <li>DO NOT store chocolate in freezer, refrigerator or car!</li>
      <li>When selling chocolate, always do so with a parent/trusted adult present.</li>
  </ul>
  <p>If you don’t think you’ll sell all of your chocolate, please contact the PTA by <strong>10/1/18</strong>. We will do our very best to sell all bars we check out, returning only the money ($60/box) by <strong>10/7/18</strong>.</p>
  <p>I have read and understand the Chocolate Sale Guideline Agreement above and by submitting the form below, <strong>I agree to allow my student to participate in this fundraiser.</strong></p>

  <h3>Parent/Guardian Information</h3>

  <fieldset class="bn">
    <label class="v-mid" for="name">Full Name: </label>
    <input class="mv1" id="name" name="name" placeholder="Your Full Name" required />
    <br>
    <label class="v-mid" for="email">Email Address:</label>
    <input class="mv1" id="email" name="email" type="email" value="" required placeholder="your.name@email.com" /> <br>
    <span class="red dib ba br2 pa3 ma2 bg-washed-red" id="email-invalid" style="display:none">Must be a valid email address</span>
  </fieldset>
  
  <h3>Student Information</h3>
  
  <fieldset class="bn">
    <label class="v-mid" for="sfname">Student First Name: </label>
    <input class="mv1" id="sfname" name="sfname" placeholder="First Name" required />
    <br>
    <label class="v-mid" for="slname">Student Last Name: </label>
    <input class="mv1" id="slname" name="slname" placeholder="Last Name" required />
    <br>
    <label class="v-mid" for="teacher">Teacher's Last Name: </label>
    <select class="mv1" id="teacher" name="teacher">
      <option value="Select">Select Teacher</option>
      <option value="Anderson">Anderson</option>
      <option value="Barton">Barton</option>
      <option value="Butterworth">Butterworth</option>
      <option value="Dale">Dale</option>
      <option value="Dotzauer">Dotzauer</option>
      <option value="Everhart">Everhart</option>
      <option value="Fountain">Fountain</option>
      <option value="Frost">Frost</option>
      <option value="Garcia">Garcia</option>
      <option value="Glim">Glim</option>
      <option value="Goforth">Goforth</option>
      <option value="Hanes">Hanes</option>
      <option value="Hawkins">Hawkins</option>
      <option value="Holmes">Holmes</option>
      <option value="Johnson">Johnson</option>
      <option value="Lincoln">Lincoln</option>
      <option value="Mansfield">Mansfield</option>
      <option value="Moore">Moore</option>
      <option value="Ng">Ng</option>
      <option value="Nyland">Nyland</option>
      <option value="Ross">Ross</option>
      <option value="Sage">Sage</option>
      <option value="Schafer">Schafer</option>
      <option value="Schultz">Schultz</option>
      <option value="Tonnemaker">Tonnemaker</option>
      <option value="Wedul">Wedul</option>
    </select>
    <br>
    <label class="v-mid" for="grade">Grade: </label>
    <select class="mv1" id="grade" name="grade">
      <option value="Select">Select Grade</option>
      <option value="K">K</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </fieldset>
  <br>
  <label class="sr-only" style="display:none;">Keep this field blank</label>
  <input id="honeypot" type="text" name="honeypot" value="" style="display:none;" />
  <button class="f6 link br3 ph3 pv2 mb2 dib gold bg-primary">Sign Up for Chocolate Sales</button>
  </form>
  
  <!-- Customize the Thank You message people see after they submit the form: -->
  <div style="display:none;" id="thankyou_message">
  <h2>Thank you for participating in the Island View Chocolate fundraiser!</h2>
  <p>Chocolate boxes will go home with students on Thursday, September 20. Sell as many candy bars as you can by Friday, October 7!</p>
  <p>If you don’t think you’ll sell all of your chocolate, please contact the PTA by <strong>10/1/18</strong>. 
    We will do our very best to sell all bars we check out, returning only the money ($60/box) by <strong>10/7/18</strong>.</p>
  <p>If you have another child to register for a box of chocolates, please <a href="/chocolate">CLICK HERE</a> or reload the page.</p>
  </div>
  
  <!-- Submit the Form to Google Using "AJAX" -->
  <script data-cfasync="false" type="text/javascript" src="/js/form-submission-handler.js"></script>
  <!-- END -->
