<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<div id="content" class="mw7 center cf">
  <h3>Name: {{ .Params.fname }} {{ .Params.lname }}. - ({{ .Params.gender }}) </h3>
  <p>Teacher: {{ .Params.teacher | lower | humanize }}, Grade: {{ .Params.grade }}</p>
  <p>Thank you for helping me raise money for Island View PTA!  The funds will make so much possible for the students and staff at Island View Elementary, including classroom enhancements, FIRST LEGO League Jr., Reading is Fundamental's free books, ClassACT School Plays, free popcorn every month, Family Fun Nights, Watch DOGS, Lego Club, I Love to Read Month, Scolastic Magazines, Educational Software, Mountain School, and MORE!</p>
  <p>Please enter your personal information and credit card details in the form below to donate to {{ .Params.fname }}'s Color Run activity.</p>

  <form name="colorrun-donation" id="colorrun-donation" class="pa2 w-30" action="https://wt-178473a4ca36b28c0d024bfdae0bd5b3-0.run.webtask.io/ivepta-stripe-payment/payment" method="post" id="payment-form">
    <div class="w-100 pv2">
      <label for="name">Name</label>
      <input id="name" type="text" placeholder="Enter Your Full Name" required="">
    </div>
    <div class="w-100 pv2">
      <label for="email">Email</label>
      <input id="email" type="email" placeholder="Primary Email Address" required="">
    </div>
    <div class="w-100 pv2">
        <label for="amount">Amount</label>
        <input id="amount" type="text" placeholder="$ to Donate" required="">
    </div>
    <input type="hidden" name="stripeToken">
    <button id="donateButton" class="w-100 ba bw0 br2 mt2 ph3 pv2 dib gold bg-primary no-underline">Donate now for {{ .Params.fname }}</button>
    <div id="error_explanation"></div>
  </form>
</div>

<script>

var handler = StripeCheckout.configure({
  key: 'pk_test_cInueXV9vrRXpfa4S2mEoMt6',
  name: 'Color Run Donation',
  zipCode: true,
  description: 'Donation for {{ .Params.fname }} {{ .Params.lname }}.',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    console.log(token.id);
    console.log($('input#stripeToken').val());
    $('#colorrun-donation').submit();
  }
});

$('#donateButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  var email = $('input#email').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html("<p class='w-100 ba br2 center pa3 ma2 red bg-washed-red'>Please enter a whole dollar amount in USD ($).</p>");
  }
  else if (amount < 5.00) {
    $('#error_explanation').html("<p class='w-100 ba br2 center pa3 ma2 red bg-washed-red'>Donation amount must be at least $5.</p>");
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount),
      email: email
    })
  }
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
  handler.close();
});

</script>