<div class="bg-off-white">
	<div class="mw7 center">
		<!-- Contact -->
    <div class="mb4">
      <h4 class="f3 b lh-title mb3 tc">Membership Registration</h4>

      <form name="membership-demo" action="thank-you" method="POST" netlify>
        <p>
          <label>Your Name: <input type="text" name="name"></label>   
        </p>
        <p>
          <label>Your Email: <input type="email" name="email"></label>
        </p>
        <p>
          <label>Message: <textarea name="message"></textarea></label>
        </p>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>
    </div>
	</div>
</div>


