<div class="bg-off-white">
	<div class="mw7 center">
		<!-- Contact -->
    <div class="mb4">
      <h4 class="f3 b lh-title mb3 tc">Membership Registration</h4>
      
      <form class="pa4 black-80" name="membership-demo" action="thank-you" method="POST" netlify>
        <div class="measure">
          <label class="f6 b db mb2">Your Name:</label>
          <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" name="name" aria-describedby="name-desc">
          <small id="name-desc" class="f6 black-60 db mb2">Enter your full name.</small>
        </div>
        <div class="measure">
          <label class="f6 b db mb2">Your Email:</label>
          <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="email" name="email" aria-describedby="email-desc">
          <small id="email-desc" class="f6 black-60 db mb2">Your email address.</small>
        </div>
        <div class="measure">
          <label class="f6 b db mb2">Message:</label>
          <textarea  class="input-reset ba b--black-20 pa2 mb2 db w-100" name="message" aria-describedby="message-desc"></textarea>
          <small id="message-desc" class="f6 black-60 db mb2">Any message that you would like to pass along.</small>
        </div>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>
      </div>
    </div>
	</div>
</div>


