<div class="mw7 center">
  <p>Enter the amount in whole dollars that you would like to donate to the PTA.<br>
    This amount will be added to the website shopping cart.</p>
  <span class="pr2">Donation Amount:</span>
  <input class="input-reset pa1 mr2 mw4" type="text" id="my-amount" />
  <button class="snipcart-add-item f6 ba bw0 br2 ph3 pv2 gold bg-primary o-20 v-btm mt2 mt0-l"
    id="donate-button"
    disabled='disabled'
    data-item-id="10000"
    data-item-url="/data/donate.json"
    data-item-name="Donation"
    data-item-price="">
    Add Donation Amount to Cart
  </button>
</div>

<script>
  $('#my-amount').keyup(function() {
      if ( $.isNumeric($(this).val()) ) {
        $('#donate-button').removeClass("o-20");
        $('#donate-button').attr('data-item-price', $(this).val());
      }
      else {
        $('#donate-button').addClass("o-20");
        $("#my-amount").attr("placeholder", "Enter a Number").val("").focus().blur();
      }
  });
  $("#my-amount").keyup(function(){
  if($(this).val().length)
      $("#donate-button").prop('disabled', false);
  else
      $("#donate-button").prop('disabled', true);
  });
</script>