<footer class="flex-none bg-primary mt3 ph3 ph0-l w-100">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div class="pr2">
				<h3 class="gold">IVE&nbsp;PTA</h3>
				<ul class="mb3 list ma0">
          <li><a href="/" class="link white">Home</a></li>
          <li><a href="/news/" class="link white">News</a></li>
          <li><a href="/event/" class="link white">Events</a></li>
					<li><a href="/contact/" class="link white">Contact</a></li>
				</ul>
			</div>

			<div class="pr2">
				<h3 class="gold">Help&nbsp;Us</h3>
				<ul class="mb3 list ma0">
					<li><a href="/donate/" class="link white">Donate</a></li>
					<li><a href="/membership/" class="link white">Join&nbsp;the&nbsp;PTA</a></li>
					<li><a href="/get-involved/" class="link white">Get&nbsp;Involved</a></li>
					<li><a href="/shop/" class="link white">Shop</a></li>
				</ul>
			</div>

			<div class="pr2">
				<h3 class="gold">Social&nbsp;Media</h3>
				<ul class="mhn2 list ma0">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/IslandViewPTA/" "svg" "facebook") }}
				</ul>
      </div>
      
      <div class="white f6">
        <h3 class="gold">Amazon&nbsp;Smile</h3>
        <span>Amazon donates 0.5%<br>of your purchase price<br>to Island View PTA.<br> 
          <a class="white" href="https://smile.amazon.com/ch/91-1325723" target="_blank">Click HERE to setup<br>Amazon Smile</a>
        </span>
      </div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

<!-- Snipcart -->
<script>Snipcart.execute('config', 'show_continue_shopping', true);</script>

</body>
</html>