<footer class="flex-none bg-primary mt3 ph3 ph0-l w-100">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 gold">IVE PTA</h3>
				<ul class="mb3 list ma0">
          <li><a href="/" class="link white">Home</a></li>
          <li><a href="/news/" class="link white">News</a></li>
          <li><a href="/event/" class="link white">Events</a></li>
					<li><a href="/contact/" class="link white">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 gold">Help Us</h3>
				<ul class="mb3 list ma0">
					<li><a href="/donate/" class="link white">Donate</a></li>
					<li><a href="/membership/" class="link white">Join the PTA</a></li>
					<li><a href="/get-involved/" class="link white">Get Involved</a></li>
					<li><a href="/shop/" class="link white">Shop</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 gold">Social media</h3>
				<ul class="mhn2 list ma0">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/IslandViewPTA/" "svg" "facebook") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

<!-- Snipcart -->
<script>Snipcart.execute('config', 'show_continue_shopping', true);</script>

<!-- Make external links open in a new tab. -->
<script>
  $(document.links).filter(function() {
    return this.hostname != window.location.hostname;
  }).attr('target', '_blank');
</script>

</body>
</html>