<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center bg-white divider-grey relative fixed w-100 z-max">

  <!-- Logo -->
  <div>
    <a href="/" class="ph3 h1 w5 dib-l dn">
      <img class="v-btm" src="/img/IVE-Logo-horizontal.svg" alt="Island View PTA"/>
    </a>

    <a href="/" class="w2 mt1 ml3 mr2 flex-none dib dn-l">
      <img src="/img/IVE-Logo-square.svg" alt="Island View PTA"/>
    </a>
  </div>
  
  <div class="snipcart-summary ml2 db w2 w4-l tr pr3">
    <a href="#" class="snipcart-checkout no-underline"><i class="material-icons v-mid primary">shopping_cart</i></a> 
    <div class="dn dib-l">
      <span class="snipcart-total-price f5 v-mid primary"></span>
    </div>
  </div>

  <!-- Primary Nav -->
  <ul class="flex b list">
      <li><a href="/news/" class="pa3 no-underline db primary">News</a></li>
      <li><a href="/event/" class="pa3 no-underline db primary">Events</a></li>
      <li><a href="/membership/" class="pa3 no-underline db primary">Join</a></li>
      <li><a href="/get-involved/" class="pa3 no-underline dn db-l primary">Get&nbsp;Involved</a></li>
      <li><a href="/shop/" class="pa3 no-underline dn db-ns primary">Shop</a></li>
      <li><a href="/contact/" class="pa3 no-underline db primary">Contact</a></li>
    </ul>
</nav>
