<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative fixed w-100 z-max">

	<!-- Logo -->
	<a href="/" class="pa3 mr4 h1 w4 dib-m dib-l dn">
		<img src="/img/IVE-Logo-horizontal.svg" alt="Island View PTA" class=""/>
	</a>

	<a href="/" class="dib w2 mt2 ml3 mr4 flex-none dn-m dn-l">
		<img src="/img/IVE-Logo-square.svg" alt="Island View PTA" class=""/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3 list">
		<li><a href="/news/" class="pa3 no-underline db">News</a></li>
    <li><a href="/event/" class="pa3 no-underline db">Events</a></li>
    <li><a href="/membership/" class="pa3 no-underline dn dib-l">Join</a></li>
    <li><a href="/shop/" class="pa3 no-underline dn dib-ns">Shop</a></li>
		<li><a href="/about/" class="pa3 no-underline db">About</a></li>
    <li><a href="/contact/" class="pa3 no-underline db">Contact</a></li>
  </ul>

  <div class="snipcart-summary ml4 mr3 db">
    <a href="#" class="snipcart-checkout no-underline"><i class="material-icons v-mid">shopping_cart</i></a> 
    <div class="dn dib-ns">
      #<span class="snipcart-total-items f5 v-mid"></span>
      - <span class="snipcart-total-price f5 v-mid"></span>
    </div>
  </div>

	<!-- Nav Fade for scroll indication -->
	<div class="grad fixed top-1 right-0 h2 w2 tr z-max dn-ns"></div>

</nav>
