<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative fixed w-100 z-max">

	<!-- Logo -->
	<a href="/" class="pa3 mr4 h1 w4 db-m db-l dn">
		<img src="/img/IVE-Logo-horizontal.svg" alt="Island View PTA" class=""/>
	</a>

	<a href="/" class="db w2 mt2 ml3 mr4 flex-none dn-m dn-l">
		<img src="/img/IVE-Logo-square.svg" alt="Island View PTA" class=""/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/post/" class="pa3 no-underline db">News</a></li>
		<li><a href="/event/" class="pa3 no-underline db">Events</a></li>
		<li><a href="/products/" class="pa3 no-underline db">Shop</a></li>
		<li><a href="/about/" class="pa3 no-underline db">About</a></li>
		<li><a href="/contact/" class="pa3 no-underline db">Contact</a></li>
	</ul>

	<!-- Nav Fade for scroll indication -->
	<div class="grad fixed top-1 right-0 h2 w2 tr z-max dn-ns">
		<i class="material-icons o-30">keyboard_arrow_right</i>
	</div>

</nav>
