<div class="dark-gray w-100 mb3">
  <img src="/img/products/{{.image}}" class="db w-100 ba bw0 br2" alt="Photo of a {{.name}}.">
  <div class="pa2">
    <div class="dt w-100 mt1">
      <div class="dtc">
        <h1 class="f5 f4-ns mv0">{{.name}}</h1>
      </div>
      <div class="dtc tr">
        <h2 class="f5 mv0">${{.price}}</h2>
      </div>
    </div>
    <p class="f6 lh-copy mt2 mid-gray">
      {{.description}}
    </p>
    <!-- Buy Button -->
    <button
      class="snipcart-add-item f6 link ba bw0 br1 ph3 pv2 dib w-100 gold bg-blue"
      data-item-id="{{ .id }}"
      data-item-name="{{ .name }}"
      data-item-price="{{ .price }}"
      data-item-weight="{{ .itemWeight }}"
      data-item-url="{{ .url }}"
      data-item-description="{{ .description }}">
      Add to Cart
    </button>
  </div>
</div>