/*

   IMAGES
   Docs: http://tachyons.io/docs/elements/images/

*/

/* Responsive images! */

img { max-width: 100%; }

/* Remove border-radius from full-width images */
img:not(.w-100) {
  border-radius: var(--border-radius);
}
