.list { 
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list li { 
  list-style-type: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0;
  padding-left: 0;
}
