{{- define "main" -}}

{{ partial "jumbotron" . }}

<main class="w-full flex-auto mx-auto px-3 lg:px-0 pt-3">
  <section class="max-w-3xl flex-auto pt-3 px-3 lg:px-0 mx-auto">
    {{ partial "content-block" . }}
    <div class="mt-4">
      {{ partial "newsletter-buttons" . }}
    </div>
  </section>
  <section class="max-w-3xl flex-auto pt-3 px-3 lg:px-0 mx-auto">
    <h2>News Grouped by Year</h2>
    <div class="flex-col max-w-3xl">
      {{ range (where .Site.RegularPages "Type" "==" "news").GroupByDate "2006" "desc" }}
      <div id="{{ .Key }}">
        <h2>{{ .Key }}</h2>
        <div class="w-full sm:flex sm:mx-0 flex-wrap mb-4">
            {{ range .Pages.ByDate.Reverse }}
            <div class="w-full sm:max-w-1/2 flex">
              {{ .Render "news-li"}}
            </div>
            {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </section>
</main>

{{- end -}}
