{{- define "main" -}}
<main class="w-full flex-auto mx-auto px-3 lg:px-0 pt-3">
  {{ if .Params.newsletter }}
  <section class="max-w-3xl pt-3 px-3 lg:px-0 mx-auto">
    <div class="bg-gold p-4 flex flex-row items-center justify-between">
      <div class="flex flex-row">
        <img class="w-12 h-12 mr-4 sm:block hidden" src="https://images.weserv.nl/?url=www.islandviewpta.org/img/IslandViewLogo.png&w=48&h=48" alt="Island View PTA"/>
        <span class="text-4xl">Island View Elementary PTA</span>
      </div>
      {{ if .Params.image }}
      <img class="h-24 lg:block hidden" src="{{ .Params.image }}" alt="Image for {{ .Title }}" />
      {{ end }}
    </div>
  </section>
  {{ end }}
  <section class="max-w-3xl flex-auto pt-3 px-3 lg:px-0 mx-auto">
    <div class="clearfix">
      {{ partial "content-intro" . }}
      {{ partial "content-block" . }}
    </div>
  </section>
  <section class="max-w-3xl flex-auto px-3 py-4 lg:px-0 mx-auto">
    {{ partial "share" . }}
    {{ partial "prevnext" . }}
  </section>
</main>
{{- end -}}