{{- define "main" -}}
<main class="w-full flex-auto mx-auto px-4">
  {{ if .Params.newsletter }}
  <section class="max-w-3xl pt-4 px-4 lg:px-0 mx-auto">
    <div class="bg-gold p-4 flex flex-row items-center justify-between">
      <div class="flex flex-row">
        <img class="w-12 h-12 mr-4 sm:block hidden" src="https://ivepta.imgix.net/img/IslandViewLogo.png?w=48&h=48&auto=format" alt="Island View PTA"/>
        <span class="text-4xl">Island View Elementary PTA</span>
      </div>
      {{ if .Params.image }}
      <img class="h-24 lg:block hidden" src="https://ivepta.imgix.net{{ .Params.image }}?w=150&auto=format" alt="Image for {{ .Title }}" />
      {{ end }}
    </div>
  </section>
  {{ end }}
  <section class="max-w-3xl flex-auto pt-4 px-4 lg:px-0 mx-auto edge">
    <div class="clearfix">
      {{ partial "content-intro" . }}
      {{ partial "content-block" . }}
    </div>
  </section>
  <section class="max-w-3xl flex-auto px-4 py-4 lg:px-0 mx-auto">
    {{ partial "share" . }}
    {{ partial "prevnext" . }}
  </section>
</main>
{{- end -}}