{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Params.title "subtitle" .Params.subtitle "imageLink" .Params.imageLink "imageCredit" .Params.imageCredit "callToAction" true) }}

<div class="w-100 center ph3 ph0-l">
  <ul class="flex-ns flex-wrap mw7 center pt3 list">
      {{ range .Data.Pages }}
          <div class="w-50-ns ph1-ns flex">
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>
</div>

{{ partial "footer" . }}
