<div>
  <a class="text-sm border-0 rounded mr-1 mt-1 px-4 py-2 inline-block text-gold bg-primary no-underline" href="/donate/">Donate</a>
  <a class="text-sm border-0 rounded mr-1 mt-1 px-4 py-2 hidden sm:inline-block text-gold bg-primary no-underline" href="/membership/">Join the PTA</a>
  <a class="text-sm border-0 rounded mr-1 mt-1 px-4 py-2 inline-block text-gold bg-primary no-underline" href="/get-involved/">Get&nbsp;Involved</a>
  <a class="text-sm border-0 rounded mr-1 mt-1 px-4 py-2 inline-block text-gold bg-primary no-underline" href="/shop/">Shop</a>
</div>