<h1 class="text-gray-900 text-4xl font-bold mb-4 mt-2">{{.Title}}</h1>
{{ if not .Params.newsletter }}
<p class="text-xs">Posted on {{ .Date.Format "01/02/06" }}</p>
{{ end }}
{{ if and .Params.image (not .Params.newsletter )}}
<figure class="float-right sm:w-1/3 sm:ml-4 block p-3 bg-gray-400 rounded-lg mb-4">
    <img class="mb-4" src="//images.weserv.nl/?url=www.islandviewpta.org{{ .Params.image }}&w=600" alt="Image for {{ .Title }}" />
    <figcaption class="text-sm">{{ .Description }}</figcaption>
</figure>
{{ end }}