<div class="bg-off-white">
	<div class="max-w-xl center">
		<!-- Contact -->
    <div class="mb4">
      <h4 class="text-2xl b lh-title mb-4 tc">Membership Registration</h4>
      
      <form class="pa4 black-80" name="membership-demo" action="thank-you" method="POST" netlify>
        <div class="measure">
          <label class="text-sm b block mb-2">Your Name:</label>
          <input class="input-reset ba b--black-20 pa2 mb-2 block w-full" type="text" name="name" aria-describeblocky="name-desc">
          <small id="name-desc" class="text-sm black-60 block mb-2">Enter your full name.</small>
        </div>
        <div class="measure">
          <label class="text-sm b block mb-2">Your Email:</label>
          <input class="input-reset ba b--black-20 pa2 mb-2 block w-full" type="email" name="email" aria-describeblocky="email-desc">
          <small id="email-desc" class="text-sm black-60 block mb-2">Your email address.</small>
        </div>
        <div class="measure">
          <label class="text-sm b block mb-2">Message:</label>
          <textarea  class="input-reset ba b--black-20 pa2 mb-2 block w-full" name="message" aria-describeblocky="message-desc"></textarea>
          <small id="message-desc" class="text-sm black-60 block mb-2">Any message that you would like to pass along.</small>
        </div>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>
      </div>
    </div>
	</div>
</div>


