<div class="max-w-xl center">
  <h1>{{.Title}}</h1>
  <div class="flex">
    <p class="text-sm mr3"><span class="b">Start:</span><br>{{ dateFormat "Mon., 01/02/06- 3:04PM" .Params.start }}</p>
    <p class="text-sm mr3"><span class="b">End:</span><br>{{ dateFormat "Mon., 01/02/06- 3:04PM" .Params.end }}</p>
    <p class="text-sm pr2"><span class="b">Location:</span><br>
    <a href='https://www.google.com/maps/place/{{ replace .Params.location " " "+" }}' target="_blank">{{ .Params.location }}</a>
    </p>
  </div>
  <div class="block float-right ml-4-ns">
    <figure class="block mw-90 w5-l w5-m p-3 bg-gray-400 rounded-lg mt3 mb-4">
      {{ if .Params.image }}<img class="mb-4" src="https://ivepta.imgix.net/{{ .Params.image }}" alt="Image for {{ .Title }}" />{{ end }}
      <figcaption class="text-sm">{{ .Description }}</figcaption>
    </figure>
  </div>
</div>