<label for="teacher">Teacher's Last Name: </label>
<select class="form-select mb-2" id="teacher" name="teacher">
  <option value="Select">Select Teacher</option>
  <option value="Anderson">Anderson</option>
  <option value="Dale">Dale</option>
  <option value="Doebler">Doebler</option>
  <option value="Dotzauer">Dotzauer</option>
  <option value="Everhart">Everhart</option>
  <option value="Fountain">Fountain</option>
  <option value="Frost">Frost</option>
  <option value="Glim">Glim</option>
  <option value="Goforth">Goforth</option>
  <option value="Hawkins">Hawkins</option>
  <option value="Holmes">Holmes</option>
  <option value="Kammenga">Kammenga</option>
  <option value="Kelly">Kelly</option>
  <option value="Lincoln">Lincoln</option>
  <option value="Mansfield">Mansfield</option>
  <option value="Nyland">Nyland</option>
  <option value="Ross">Ross</option>
  <option value="Sage">Sage</option>
  <option value="Shainin">Shainin</option>
  <option value="Swapp">Swapp</option>
  <option value="Tonnemaker">Tonnemaker</option>
  <option value="Wedul">Wedul</option>
</select>