<div class="pt-24 px-3 bg-center bg-primary bg-cover" style="background-image: url( {{ .Params.image }} )">
  <div class="max-w-3xl mx-auto flex">
    <div class="block mb-4">
      {{ with .Params.title }}
      <div class="relative mb-4">
        <h1 class="text-4xl lg:text-5xl font-bold leading-normal text-white text-shadow-black">
          {{ . }}
        </h1>
      </div>
      {{ end }}
      {{ with .Params.subtitle }}
      <div class="relative mb-2">
        <p class="text-2xl font-bold leading-normal mb-2 text-white text-shadow-black">
          {{ . }}
        </p>
      </div>
      {{ end }}
      {{ if .Params.callToAction }}
      <div class="relative">
          {{ partial "call-to-action" . }}
      </div>
      {{ end }}
    </div>
  </div>
  {{ if .Params.imageCredit }}
  <div class="relative h-16 w-full">
    <div class="absolute bottom-0 right-0">
      <a href="{{ .Params.imageLink }}" target="_blank" class="link text-sm text-white text-shadow-black">{{ .Params.imageCredit }}</a>
    </div>
  </div>
  {{ end }}
</div>
