<nav class="flex justify-between items-center bg-white fixed w-full h-16 border-b-2 border-primary top-0 z-50">
  <!-- Logo -->
  <div>
    <a href="/" class="w-12 ml-4 mr-2 flex align-middle inline-block">
      <img src="https://images.weserv.nl/?url=www.islandviewpta.org/img/IslandViewLogo.png&w=48&h=48" alt="Island View PTA"/>
    </a>
  </div>
  <!-- Primary Nav -->
  <ul class="flex font-bold list-none">
      <li><a href="/event/" class="p-3 no-underline block text-primary">Events</a></li>
      <li><a href="/news/" class="p-3 no-underline block text-primary">News</a></li>
      <li><a href="/membership/" class="p-3 no-underline block text-primary">Join</a></li>
      <li><a href="/get-involved/" class="p-3 no-underline hidden sm:block text-primary">Get&nbsp;Involved</a></li>
      <li><a href="/shop/" class="p-3 no-underline hidden md:block text-primary">Shop</a></li>
      <li><a href="/contact/" class="p-3 no-underline hidden sm:block text-primary">Contact</a></li>
    </ul>
</nav>
