<nav class="flex justify-between items-center bg-white fixed w-full h-16 border-b-2 border-primary top-0 z-50">
  <!-- Logo -->
  <div>
    <a href="/" class="w-64 px-3 mt-1 lg:inline-block hidden">
      <img class="v-btm" src="/img/IVE-Logo-horizontal.svg" alt="Island View PTA"/>
    </a>

    <a href="/" class="w-8 mt-1 ml-4 mr-2 flex-none inline-block lg:hidden">
      <img src="/img/IVE-Logo-square.svg" alt="Island View PTA"/>
    </a>
  </div>
  <!-- Primary Nav -->
  <ul class="flex font-bold list-none">
      <li><a href="/event/" class="p-3 no-underline block text-primary">Events</a></li>
      <li><a href="/news/" class="p-3 no-underline block text-primary">News</a></li>
      <li><a href="/membership/" class="p-3 no-underline block text-primary">Join</a></li>
      <li><a href="/get-involved/" class="p-3 no-underline hidden sm:block text-primary">Get&nbsp;Involved</a></li>
      <li><a href="/shop/" class="p-3 no-underline hidden md:block text-primary">Shop</a></li>
      <li><a href="/contact/" class="p-3 no-underline hidden sm:block text-primary">Contact</a></li>
    </ul>
</nav>
