<!-- Begin MailChimp Signup Form -->
<div class="mw7 center pa3" id="mc_embed_signup">
<form action="//islandviewpta.us16.list-manage.com/subscribe/post?u=af1ea326b552eee6ec1a9ebf6&amp;id=eb19b97e7b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">
    <span class="cf center" for="mce-EMAIL">Subscribe to the PTA mailing list.</span>
    <input type="email" value="" name="EMAIL" class="email fl mr2" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_af1ea326b552eee6ec1a9ebf6_eb19b97e7b" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="gold bg-primary ba fl">
  </div>
</form>
</div>

<!--End mc_embed_signup-->