{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav aria-label="Page navigation">
    <ul class="w-50 list flex justify-around center">
        {{ if $pag.HasPrev }}
        <li class="page-item mt4 mb2 mh2"><a href="{{ $pag.Prev.URL }}" rel="prev" class="page-link f6 ba bw0 br2 ph3 pv2 bg-primary gold center link">&laquo;&nbsp;Prev</a></li>
        {{ end }}
        {{ range $pag.Pagers }}
        {{ if eq . $pag }}
        <li class="page-item mt4 mb2 mh2 active"><a href="{{ .URL }}" class="page-link f6 ba bw0 br2 ph3 pv2 bg-primary gold center link">{{ .PageNumber }}</a></li>
        {{ else }}
        <li class="page-item mt4 mb2 mh2"><a href="{{ .URL }}" class="page-link f6 ba bw0 br2 ph3 pv2 bg-primary gold center link">{{ .PageNumber }}</a></li>
        {{ end }}
        {{ end }}

        {{ if $pag.HasNext }}
        <li class="page-item mt4 mb2"><a href="{{ $pag.Next.URL }}" rel="next" class="page-link f6 ba bw0 br2 ph3 pv2 bg-primary gold center link">Next&nbsp;&raquo;</a></li>
        {{ end }}
    </ul>
</nav>
{{ end }}