<div class="w-full mb-4 ba br2 b--light-silver">
  <div class="pa2 center">
      <img src="/img/shop/{{.image}}" class="h-auto w-full w-auto-l h4-l block center" alt="Image of a {{.name}}.">
  </div>
  <div class="pa2">
    <div class="dt w-full mt-1">
      <div class="dtc">
        <h3 class="mv0">{{.name}}</h1>
      </div>
      <div class="dtc tr">
        <h4 class="f5 mv0">${{.price}}</h2>
      </div>
    </div>
    <p class="text-sm tj">
      {{.description}}
    </p>
    <!-- Buy Button -->
    <button
      class="snipcart-add-item flex text-sm tc link ba bw0 br2 px-4 py-2 center text-gold bg-primary"
      data-item-id="{{ .id }}"
      data-item-name="{{ .name }}"
      data-item-price="{{ .price }}"
      data-item-weight="{{ .itemWeight }}"
      data-item-url="{{ .url }}"
      data-item-description="{{ .description }}">
      Add to Cart
    </button>
  </div>
</div>