<!-- I got these buttons from simplesharebuttons.com -->
<div class="flex max-w-3xl mx-auto" id="share-buttons">
  <!-- Facebook -->
  <a class="link" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank">
      <img class="pr-2" src="https://ivepta.imgix.net/img/icons/Facebook.png" alt="Facebook" />
  </a>
  <!-- Twitter -->
  <a class="link" href="https://twitter.com/share?url={{ .Permalink }}?amp;text={{ .Title }}&amp;hashtags=ivepta" target="_blank">
    <img class="pr-2" src="https://ivepta.imgix.net/img/icons/Twitter.png" alt="Twitter" />
  </a>
</div>