<!-- I got these buttons from simplesharebuttons.com -->
<div class="mw7 center" id="share-buttons">
  <!-- Facebook -->
  <a class="link" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank">
      <img class="ph1" src="/img/icons/Facebook.png" alt="Facebook" />
  </a>

  <!-- Twitter -->
  <a class="link" href="https://twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;hashtags=ivepta" target="_blank">
    <img class="ph1" src="/img/icons/Twitter.png" alt="Twitter" />
  </a>

  <!-- Google+ -->
  <a class="link green" href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank">
      <img class="ph1" src="/img/icons/Google+.png" alt="Google" />
  </a>
</div>