{{- define "main" -}}

{{ partial "jumbotron" . }}

<main class="w-full flex-auto mx-auto px-4">
  <section class="max-w-3xl flex-auto pt-4 mx-auto">
    {{ partial "content-block" . }}
  </section>
  <section class="max-w-3xl flex-auto pt-4 mx-auto">
    <iframe src="https://services.cognitoforms.com/f/l-I5djcT8kGLQzW1N5ENCw?id=5" style="position:relative;width:1px;min-width:100%;*width:100%;" frameborder="0" scrolling="yes" seamless="seamless" height="834" width="100%"></iframe>
    <script src="https://services.cognitoforms.com/scripts/embed.js"></script>
  </section>
</main>

{{- end -}}