{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Params.title "subtitle" .Params.subtitle "imageLink" .Params.imageLink "imageCredit" .Params.imageCredit "callToAction" true) }}

<main class="w-100 flex-auto center pt3 ph3 ph0-l">
  {{ partial "page-intro" . }}
  
  <h2 class="mw7 center pb3">Donate to the PTA</h2>
  {{ partial "donate-form" . }}

  <h2 class="mw7 center pb3">Items for Sale</h2>
  {{ partial "table" . }}
</main>

{{ partial "footer" . }}
