{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Params.title "subtitle" .Params.subtitle "imageLink" .Params.imageLink "imageCredit" .Params.imageCredit "callToAction" true) }}

<main class="w-100 flex-auto center ph3 ph0-l">
  <section class="mw7 flex-auto pt3 ph3 ph0-l center">
    {{.Content}}
  </section>
  <ul class="mw7 center flex-ns flex-wrap mhn1-ns pt3 list">
      {{ range .Data.Pages.ByDate }}
          <div class="w-50-ns ph1-ns flex">
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>

  <section class="mw7 flex-auto pv3 ph3 ph0-l center">
    <div class="monthly" id="iveptacal"></div>
  </section>
</main>

<script type="text/javascript">
  $(window).load( function() {
      $('#iveptacal').monthly(
        {
          mode: 'event',
          jsonUrl: '/event/events.json',
          dataType: 'json',
          stylePast: true,
          eventList: true,
        }
      );
  });
</script>

{{ partial "footer" . }}